.createForm {
    display: flex;
    flex-flow: column;
    width: 60%;
}

.createForm > label > input,
.createForm > label > select, {
    width: 100%;
}

.createForm > label > input {
    text-transform: capitalize;
}
