.createForm {
    display: flex;
    flex-flow: column;
    width: 80%;
}

.createForm > label > input {
    text-transform: capitalize;
    min-width: calc(100% - 12px);
}

.createForm > label > select {
    text-transform: capitalize;
    min-width: calc(100%);
}

@media screen and (min-width: 800px) {
    .createForm {
        width: 60%;
    }
}
