.createForm {
    display: flex;
    flex-flow: column;
    width: 80%;
}

.createForm > label > input,
.createForm > label > select, {
    width: 100%;
}

.createForm > label > input {
    text-transform: capitalize;
}

@media screen and (min-width: 800px) {
    .createForm {
        width: 60%;
    }
}
