.headerContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    margin: 10px 0;
    color: black;
    height: 60px;
}

@media screen and (min-width: 800px) {
    .headerContainer {
        height: 50px;
    }
}