.button {
    background-color: lightgrey;
    outline: none;
}

.buttonUpdate {
    background-color: lightcoral;
}

.itemSection {
    display: flex;
    flex-flow: column;
    min-width: 100%;
    padding: 2px 2px;
    margin: 5px 0;
    border: 1px solid black;
}

.itemSection > input,
.itemSection > select {
    display: flex;
    flex-flow: column;
    outline: none;
    border: 1px solid darkgray;
    border-radius: 0;
    height: 20px;
}

.itemSection > form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

@media screen and (min-width: 800px) {
    .itemSection {
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        min-width: 80%;
    }
    .itemSection > form {
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .itemSection {
        width: 65%;
        min-width: 65%;
    }
}