table {
    border-collapse: collapse;
    padding: 0;
    width: 95%;
}

td {
    text-transform: capitalize;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

th, tr, td {
    text-align: left;
    width: auto;
}

.bookFormContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.bookGenre {
    width: auto;
}

.bookPrice {
    width: auto;
    text-transform: uppercase;
}

.genreTitle {
    padding: 10px 0;
}

.searchInput {
    text-align: center;
}

@media screen and (min-width: 800px) {
    .bookGenre {
        width: 225px;
    }
    .bookPrice {
        width: 125px;
        text-transform: uppercase;
    }
}