table {
    border-collapse: collapse;
    padding: 0;
    width: 95%;
}

td {
    text-transform: capitalize;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

th, tr, td {
    text-align: left;
    width: auto;
}

.bookPrice {
    text-transform: uppercase;
}

.genreTitle {
    padding: 10px 0;
}